<div class="hero-unit">
  <h1 class="welcome-msg">JAMLive!</h1>
  <div class="input-container">
    <input type="text"
           class="pId-input"
           name="pId"
           placeholder="Enter A Nickname..."
    />
  </div>
  <div class="hidden alert message"></div>
  <a class="btn btn-primary btn-large connect-user" href="/#connect">Connect to Server</a>
</div>