<div class="hero-unit">
  <h1 class="welcome-msg">JAMLive!</h1>
  <div class="control-group input-container">
    <div class="controls">
      <input type="text"
             class="pId-input"
             name="pId"
             placeholder="Enter A Nickname..."
      />
      <p class="help-block invisible message">Enter a nickname</p>
    </div>
  </div>
  <a class="btn btn-primary btn-large connect-user" href="/#connect">Connect to Server</a>
</div>